.skeleton {
  justify-content: center !important;
  padding-top: 50px;
  position: relative;
}
.skeleton__content {
  position: relative;
  margin: 0 10px;
}
.skeleton__content-title {
  padding-top: 15px;
  padding-bottom: 40px;
}

