.search-results__not-found {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  padding-top: 50px;
}

.title {
  padding-left: 50px;
  font-size: 60px;
  color: #ccc;
  font-weight: 900;
  margin: 0;
  padding-top: 35px;
  line-height: 0.8;
}

@media only screen and (max-width: 599px) {
  .title {
    font-size: 40px;
    padding-left: 0;
    line-height: 0.9;
  }
}

.header {
  height: 90px;
  align-items: center;
}

.header__logo {
  padding-left: 50px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

@media only screen and (max-width: 599px) {
  .header__logo {
    padding-left: 0;
  }
}

@media only screen and (max-width: 330px) {
  .header__logo {
    font-size: 18px;
  }
}

.header__user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__user-circle {
  border: 2px solid #2f2f3d;
  width: 50px;
  height: 50px;
  border-radius: 105px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 599px) {
  .header__user-circle {
    margin-right: 0;
    width: 45px;
    height: 45px;
  }
}

.genre__title {
  padding-left: 55px;
  color: #ccc;
}

@media only screen and (max-width: 599px) {
  .genre__title {
    padding-left: 0;
  }
}

.genre__container {
  display: flex;
  justify-content: space-around;
}

.genre__item {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.genre__item:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.genre__item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.search {
  padding: 20px;
}

.search__field {
  padding: 15px 20px;
  width: 90%;
  border: 2px solid #2f2f3d;
  border-radius: 50px;
  color: #5d5d6a;
  background: transparent;
}

.search__field:focus-visible {
  outline: 0;
  border-radius: 50px;
  border: 2px solid #000;
}

app-grid-movie {
  width: 100%;
}
